<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
        <title>Flask Portfolio App</title>

        <!-- Local CSS file for styling the application -->
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/base_style.css') }}"
        />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='img/favicon.png') }}"
        />

        <!-- Additional Styling -->
        {% block styling %} {% endblock %}
    </head>
    <body>
        <header class="site-header">
            <nav class="nav">
                <a class="nav-link logo" href="{{ url_for('stocks.index') }}">
                    Flask Stock Portfolio App
                </a>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('stocks.list_stocks')}}">
                            List Stocks
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('stocks.add_stock')}}">
                            Add Stock
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="messages">
            <!-- flash messages - supported categories: success, info, error, message (default) -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash-message flash-message-{{ category }}">
                            <p>{{ message }}</p>
                            <span
                                class="close-btn"
                                onclick="this.parentElement.style.opacity=0;"
                            >
                                <svg
                                    width="12"
                                    height="12"
                                    version="1.1"
                                    viewBox="0 0 100 100"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="m49.941 35.891 33.531-33.531 14.168 14.168-33.531 33.414 33.531 33.531-14.168 14.168-33.531-33.531-33.414 33.531-14.168-14.168 33.531-33.531-33.531-33.414 14.168-14.168z"
                                        fill-rule="evenodd"
                                        fill="currentColor"
                                    />
                                </svg>
                            </span>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <main class="content">
            <!-- child template -->
            {% block content %} {% endblock %}
        </main>

        <footer class="site-footer">
            <small>testdriven.io 2020</small>
        </footer>
    </body>
</html>
