:root {
    --bg-color: #f1f1f1;
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --font-color: #191919;

    --spacer: 20px;
    --gutters: 24px;

    --card-bg-color: #fff;
}

/* Overall Styling
   *****************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: sans-serif;
}

a,
a:visited {
    color: blue;
}

a:hover {
    color: darkblue;
}

img {
    max-width: 100%;
}

h1 {
    margin-bottom: var(--spacer);
    font-size: 1.65rem;
}

h2 {
    font-size: 1.35rem;
    font-weight: 600;
}

/* Header Styling
   ****************/
.site-header {
    background-color: #121212;
    padding: 24px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--gutters);
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-item {
    text-decoration: none;
    margin: auto 0;
}

.nav-item + .nav-item {
    margin-left: 1.5rem;
}

.nav-link,
.nav-link:visited,
.nav-link:hover {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 1.4rem;
}

.nav-list .nav-link {
    font-size: 1rem;
    text-transform: uppercase;
}

/* Message Styling
   *****************/
.close-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    background: var(--font-color);
    line-height: 1;
    color: white;
}

.close-btn svg {
    display: inline-block;
    width: 12px;
    height: 12px;
}

.close-btn:hover {
    background: white;
    color: black;
}

.flash-message {
    background: #38cfd9;
    display: flex;
    justify-content: space-between;
    padding: 1rem var(--gutters);
    transition: opacity 1s;
}

.flash-message p,
.flash-message span {
    font-size: 1.1rem;
}

.flash-message-error {
    background: red;
    color: white;
}

.flash-message-success {
    background: green;
    color: white;
}

.flash-message-info {
    background: blue;
    color: white;
}

/* Content Styling
   *****************/
.content {
    max-width: 920px;
    margin: 40px auto;
}

/* Error Page Styling
   ********************/
.errorpage-title {
    text-align: center;
    margin-bottom: 1em;
}

.errorpage-section {
    text-align: center;
    font-size: 1.15rem;
    margin-bottom: 1em;
}

/* Footer Styling
   ****************/
.site-footer {
    margin: auto;
    padding: 40px 0;
    text-align: center;
    color: #696969;
}

.site-footer small {
    font-size: 1.1rem;
}
