{% extends "base.html" %} 

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_style.css') }}">
{% endblock %}


{% block content %}
<div>
    <h1>Add a Stock:</h1>

    <form method="post">
        <div class="field">
            <label for="stockSymbol">
                Stock Symbol <em>(required)</em>
            </label>
            <input
                type="text"
                id="stockSymbol"
                name="stock_symbol"
                required
                pattern="[A-Z]{1,5}"
            />
        </div>
        <div class="field">
            <label for="numberOfShares">
                Number of Shares <em>(required)</em>
            </label>
            <input
                type="text"
                id="numberOfShares"
                name="number_of_shares"
                required
            />
        </div>
        <div class="field">
            <label for="purchasePrice">
                Purchase Price ($) <em>(required)</em>
            </label>
            <input
                type="text"
                id="purchasePrice"
                name="purchase_price"
                placeholder="$300.00"
                required
            />
        </div>
        <div class="field">
            <input type="submit" />
        </div>
    </form>
</div>
{% endblock %}
