{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stocks_style.css') }}">
{% endblock %}

{% block content %}
<div class="stocks-container">
    <div class="stocks-list">
        <h1>List of Stocks</h1>

        <table class="stock-table">
            <!-- Table Header Row -->
            <thead>
                <tr>
                    <th>Stock Symbol</th>
                    <th>Number of Shares</th>
                    <th>Purchase Price</th>
                </tr>
            </thead>

            <!-- Table Element (Row) -->
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.stock_symbol }}</td>
                    <td>{{ stock.number_of_shares }}</td>
                    <td>${{ stock.purchase_price / 100 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}